{% extends 'base_default.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block body %}

    <p>Hello world!</p>

{% endblock %}

{% block body_javascripts %}

    {{ parent() }}

{% endblock %}